body,
html {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Hammersmith One", sans-serif;
	overflow-x: hidden;
}

.section {
	height: 100vh;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8 {
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 200px 100px rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	box-sizing: border-box;
	font-family: "Hammersmith One", sans-serif;
}

#section1 {
	background-image: url(../images/backgrounds/homepage-background.webp);
	background-color: transparent;
}

#section7 {
    background-image: url(../images/backgrounds/footer-background.webp);
    background-color: rgba(0, 187, 255, 0.8); /* Adjust the alpha value (0.0 to 1.0) to control transparency */
}

#section2,
#section3,
#section4,
#section5,
#section6,
#section8 {
	background-image: url(../images/backgrounds/content-background.webp);
	background-color: transparent;
}

.display-1 {
	font-size: 3rem;
}

@media screen and (min-width: 320px) and (max-width: 340px) {}

.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 80%;
	box-sizing: border-box;
}

.thumbnail-container {
	position: relative;
	opacity: 0.9;
}

.thumbnail {
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	border: 4px solid;
	border-image: linear-gradient(to right, #ffd700, #ffaf00);
	border-image-slice: 1;
}

#play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 9999;
}

#Fiture .modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.modal-content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	width: 90%;
	max-width: 1000px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	z-index: 999;
}

#video-player {
	width: 100%;
	background-size: contain;
}

@media screen and (max-width: 640px) {
	#Fiture {
		padding-top: 50px;
		justify-content: start;
		flex-direction: column-reverse;
		padding: 40px;
	}

	.video-container {
		width: 100%;
		box-sizing: border-box;
	}

	.thumbnail {
		width: 100%;
	}
}

.arrow {
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    right: 50%;
    transform: translateX(50%);
    width: 40px;
    height: 40px;
    background-color: #004cff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.arrow:before {
	content: "";
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
}

.navbar {
	background-color: rgba(0, 0, 0, 0.22) !important;
	/* Adjust the RGBA values to your desired blueish tint */
}

.gradient-button {
    background-image: linear-gradient(to bottom, #0077BA, #005FA6);
    color: white;
    border: 2px solid transparent; /* Set initial border */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    position: relative; /* Ensure the position is relative to allow absolute positioning of pseudo-elements */
    overflow: hidden; /* Ensure the overflow is hidden to contain the border animation */
}

.gradient-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
    z-index: -1; /* Ensure the pseudo-element is behind the button content */
    animation: rotateBorder 10s linear infinite; /* Adjust animation duration as needed */
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient-button:hover {
    background-image: linear-gradient(to bottom, #005FA6, #004580);
}

/* Preloader Styles */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.5s ease;
	flex-direction: column;
	gap: 2;
  }
  
  .spinner {
	width: 40px;
	height: 40px;
	border: 4px solid #000;
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  #main-content {
	opacity: 0;
	transition: opacity 0.5s ease;
  }
  
  #main-content.visible {
	opacity: 1;
  }
  
  #main-content {
	display: flex;
	flex-direction: column;
  }

   /* Styles for Popup Form */
   .popup-form-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	color: black;
  }
  
  .popup-form {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 300px;
  }
  
  .popup-title {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .input-group {
	margin-bottom: 20px;
  }
  
  .form-control {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  .btn-group {
	display: flex;
	justify-content: space-between;
  }
  
  .btn {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .btn-info {
	background-color: #3498db;
	color: white;
  }
  
  .btn-success {
	background-color: #2ecc71;
	color: white;
  }
  
  .close-popup {
	font-size: 24px;
	cursor: pointer;
  }

.character {
	max-height: 300px !important;
}

.group-image {
	position: absolute;
	bottom: 0;
}